@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
	background: $background-color;
	color: $text-color;
	font-family: 'Poppins', sans-serif;
}

#modals {
	position: fixed;
	top: 0;
	left: 0;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
}

h2 {
	font-size: 1.5rem;
	font-weight: 600;
}

h3 {
	font-size: 1.25rem;
	font-weight: 400;
}

p {
	font-size: 1rem;
	font-weight: 400;
}

button {
	font-size: 0.8rem;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0px;
	color: $text-color;
	user-select: none;
}

input,
textarea,
select {
	padding: 5px 10px;

	background: $background-color;
	border: solid 1px $border-color;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;

	color: $text-color;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;

	// &::placeholder {
	// 	color: $border-color;
	// }

	&:focus {
		outline: solid 1px #ffffff66;
	}
}
