$black: #070707;
$white: #e9e9e9;
$grey: #ffffff19;
$red-1: #fee2e2;
$red-2: #551515;

$background-color: $black;
$text-color: $white;
$border-color: $grey;

$delete-background: $red-2;
$delete-text: $red-1;

$hover-grey: #ffffff1c;
